<ion-view id="sprint1" cache-view="false">
  <ion-nav-title> {{ title }}</ion-nav-title>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" ng-show="showToggleMenu" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-positive"
            ng-show="showCancelBtn"
            ng-click="cancel()">Cancel
    </button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">
      HH
  </ion-content>
</ion-view>
