<ion-view view-title="Delete Manager" id="deleteList">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">
    <div>
        <label class="item item-input">
          <span class="input-label">Search by Name</span>
          <input type="text" name="name" id="name" ng-model="search.name" ng-change="searchChange()" placeholder="Search Name">
        </label>
    <hr/>
  </div>
  <div  ng-show="showMessage">
    <h4> There are {{allManagers.length}} managers not associated with a registered user, available to delete. </h4><span style="color:red;">{{message()}}</span>
    <button class="button button-block button-positive" ng-click="showAllManagers()">Show All Managers</button>
  </div>
  <div ng-show="showSearch">
    <div>
      <div  ng-repeat="mgr in managers">
            <ion-toggle ng-model="mgr.delete" toggle-class="toggle-possitive"><span class="input-label">
              {{mgr.name.first}}<span style="color:red;">{{mgr.name.found}}</span>{{mgr.name.second}}</span></ion-toggle>
      </div>
    </div>
    <div ng-show="showSearch">
  </div>
  <div ng-show="showSearch">
    <button class="button button-block button-positive"  ng-click="delete()">Delete</button>
</div>
    <!--div ng-class="item">
        <button type="button" class="button button-stable modal-select-close-button" ng-click="delete(mgr)">Delete</button>
        <button type="button" class="button button-stable" ng-click="cancelSearch()">Cancel</button>
    </div-->
    </div>
  </ion-content>

</ion-view>
