<ion-view view-title="Delete Manager" id="deleteList">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">

    <div>
      <div>
        <label class="item item-input">
          <span class="input-label">Search by Last Name</span>
          <input type="text" name="lname" id="lname" ng-model="search.lname" ng-change="searchChange(search)" placeholder="Search Last Name">
        </label>
      </div>
      <label class="item item-input">
        <span class="input-label">Search by First Name</span>
        <input type="text" name="fname" id="fname" ng-model="search.fname" ng-change="searchChange(search)" placeholder="Search First Name">
      </label>
    </div>
    <hr/>
    <h4> {{message}} </h4>
      <div  ng-repeat="mgr in managers">
            <ion-toggle ng-model="mgr.delete" toggle-class="toggle-possitive"><span class="input-label">{{mgr.lname}}, {{ mgr.fname }}</span></ion-toggle>
      </div>
    <button class="button button-block button-positive"  ng-click="delete(mgr)">Delete

    </form>

  <ion-content>
</in-view>
