<ion-view view-title="Log" id="log">
  <ion-content padding="true" class="has-header">
    <div class="list">


      <a class="item item-icon-left" href="#" ng-repeat="rec in records">
        <i class="icon"
           ng-class="{'ion-android-done energized':rec.status === 'Signed-In', 'ion-android-done-all positive':rec.status === 'Signed-Out'}"></i>

        <h2>
          <strong>In:</strong>
          {{rec.signInTime}}
                <span ng-if="rec.status === 'Signed-Out'">
                  <strong> , Out: </strong>{{rec.signOutTime}}
                </span>
        </h2>
        <p>
          {{ rec.insertedDate | date : format : 'shortTime'}},
          {{getLocation(rec.locationId)[0].name}}
        </p>

      </a>


    </div>
  </ion-content>
</ion-view>
