<ion-view view-title="Re-assign Manager" id="managerList">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-outline button-positive" ng-click="undoForm()">Clear</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form name="assignManagerForm" class="list" novalidate>

      <label class="item item-input item-floating-label">
        <span class="input-label">From Manager</span>
        <live-search id="fromManager" name="fromManager" type="text"
                     live-search-callback="fromManagerSearch"
                     live-search-select-callback="fromManagerSelected"
                     live-search-max-result-size="10"
                     live-search-item-template="<ion-item>{{result.fname}} {{result.lname}}</ion-item>"
                     placeholder="From Manager"
                     ng-model="record.fromManager" required>
        </live-search>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">To Manager</span>
        <live-search id="toManager" name="toManager" type="text"
                     live-search-callback="toManagerSearch"
                     live-search-select-callback="toManagerSelected"
                     live-search-max-result-size="10"
                     live-search-item-template="<ion-item>{{result.fname}} {{result.lname}}</ion-item>"
                     placeholder="To Manager"
                     ng-model="record.toManager" required>
        </live-search>
      </label>


      <button class="button button-block button-positive"
              ng-disabled="!assignManagerForm.$valid || (record.fromManagerId === '' || record.toManagerId === '') "
              ng-click="reassignManager()">
        Re-assign Manager
      </button>

      <div ng-show="usersFromManager.length > 0 && record.fromManagerId !== ''">

        <div class="item item-divider">
          <div class="button-bar">
            <a class="button button-outline button-positive" ng-click="selectAll(true)">Select All</a>
            <a class="button button-outline button-positive" ng-click="selectAll(false)">Unselect All</a>
          </div>

        </div>
        <div class="item item-divider">
          <strong>{{record.fromManager}}'s Users</strong>
        </div>
        <ion-list>

          <ion-checkbox ng-model="usr.selected" ng-repeat="usr in usersFromManager">
            <h2>
              {{usr.fname}} {{usr.lname}}
            </h2>
            <p>
              Role: {{ usr.role.toUpperCase() }}
            </p>
          </ion-checkbox>


        </ion-list>
      </div>
    </form>
  </ion-content>
</ion-view>
