<ion-view id="sprint1" cache-view="false">
  <ion-nav-title> {{ title }}</ion-nav-title>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" ng-show="showToggleMenu" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-positive"
            ng-show="showCancelBtn"
            ng-click="cancel()">Cancel
    </button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">


    <form name="sprint1Form" class="list" novalidate>

      <div class="item item-divider text-center" ng-show="fnameDisbl">
          <span class="user-title">{{record.fname}} {{record.mname}} {{record.lname}}</span>
      </div>


      <div class="form-group" ng-class="{ 'has-error' : sprint1Form.fname.$invalid && !sprint1Form.fname.$pristine }" ng-hide="fnameDisbl">
        <label class="item item-input item-floating-label">
          <span class="input-label">First Name</span>
          <input type="text" name="fname" id="fname" ng-model="record.fname" placeholder="* First Name"
                 required ng-pattern="/^[a-zA-Z ]*$/" ng-disabled="fnameDisbl">
          <p ng-show="sprint1Form.fname.$error.required && !sprint1Form.fname.$pristine" class="help-block">
            <span class="errcolor">First Name is required.</span></p>
          <p ng-show="sprint1Form.fname.$error.pattern && !sprint1Form.fname.$pristine" class="help-block">
            <span class="errcolor">Enter a valid First Name.</span></p>
        </label>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : sprint1Form.mname.$invalid && !sprint1Form.mname.$pristine }" ng-hide="mnameDisbl">
        <label class="item item-input item-floating-label">
          <span class="input-label">Middle Name</span>
          <input type="text" name="mname" id="mname" ng-model="record.mname" placeholder="Middle Name"
                 ng-pattern="/^[a-zA-Z ]*$/" ng-disabled="mnameDisbl">
          <p ng-show="sprint1Form.mname.$invalid && !sprint1Form.mname.$pristine" class="help-block">
            <span class="errcolor">Enter a valid Middle Name </span>
          </p>
        </label>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : sprint1Form.lname.$invalid && !sprint1Form.lname.$pristine }" ng-hide="lnameDisbl">
        <label class="item item-input item-floating-label">
          <span class="input-label">Last Name</span>
          <input type="text" name="lname" id="lname" ng-model="record.lname" placeholder="* Last Name" required
                 ng-pattern="/^[a-zA-Z ]*$/" ng-disabled="lnameDisbl">
          <p ng-show="sprint1Form.lname.$invalid && !sprint1Form.lname.$pristine" class="help-block">
            <span class="errcolor">Enter a valid Last
            Name</span>
          </p>
        </label>
      </div>

      <div class="item item-button-right">
          <span class="input-label" ng-if="record.managerProfile !== ''">Manager Name</span>
          <input type="text" name="manager-name" id="manager-name" ng-model="record.managerProfile"
                 placeholder="* Manager Name" required disabled="true">
          <button class="button icon-left ion-location" modal-select="" ng-model="record.managerProfile"
                  options="managers" hide-reset="true" modal-title="Select Manager"
                  option-getter="optionManager(option)">
            <div class="option">
              {{option.fname}} {{option.lname}}
            </div>
          </button>
      </div>


      <div class="form-group"
           ng-class="{ 'has-error' : (sprint1Form.contact.$invalid && ! sprint1Form.contact.$pristine) }">
        <label class="item item-input item-floating-label">
          <span class="input-label">Contact</span>
          <input type="tel" name="contact" id="contact" ng-model="record.contact" ui-mask="(999) 999-9999"
                 ui-mask-placeholder ui-mask-placeholder-char="_" placeholder="* Contact" required/>
          <p ng-show="sprint1Form.contact.$error.required && !sprint1Form.contact.$pristine" class="help-block"><span class="errcolor">
            Phone number is required.</span>
          </p>
          <p ng-show="sprint1Form.contact.$error.pattern && !sprint1Form.contact.$pristine" class="help-block">
            <span class="errcolor">Phone number is invalid.</span>
          </p>
        </label>
      </div>

      <div class="item item-button-right">
        <span class="input-label" ng-if="record.preferredLocation !== ''">Location</span>
        <span ng-if="record.preferredLocation !== ''">{{record.preferredLocation}}</span>
        <input type="text" ng-if="record.preferredLocation === ''" name="location" id="location" ng-model="record.preferredLocation"
               placeholder="* Preferred Location" required disabled="true">
        <button class="button icon-left ion-location" modal-select="" ng-model="record.preferredLocation" options="locations"
                 hide-reset="true" modal-title="Select Location">
          <div class="option">
            {{option}}
          </div>
        </button>
      </div>



<!--       <div class="form-group ">
        <ion-toggle ng-model="record.manager" toggle-class="toggle-possitive"><span class="input-label">Manager</span></ion-toggle>
      </div> -->

      <button class="button button-block button-positive" ng-disabled="!sprint1Form.$valid" ng-click="save()">
        {{registerBtnLabel}}
      </button>


    </form>
  </ion-content>
</ion-view>
