<ion-view cache-view="false" view-title="Sign In/Sign Out" id="siso">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">

    <form name="sisoForm" class="list" novalidate>

    <div class="form-group" ng-if="!showCheckoutBtn()">

      <div class="card balanced">
        <div class="item item-divider text-center">
          <span class="user-title">{{record.fname}} {{record.mname}} {{record.lname}}</span>
        </div>
        <div class="item item-text-wrap">
          <span class="label-blue">Task Manager:</span> {{record.mfname}} {{record.mlname}}
        </div>
        <div class="item item-text-wrap">
          <span class="label-blue">Contact:
 <!--            <a href="tel:+1{{record.contact}}" >{{record.contact | tel}}</a> -->
            <a ng-href="tel:{{record.contact | tel}}" ng-click="callDialog(record.contact)" >{{record.contact | tel}}</a>
          </span>
        </div>
      </div>

      <div class="item item-button-right">
        <span class="input-label" ng-if="record.location !== ''">Location</span>
        <span ng-if="record.location !== ''">{{record.location}}</span>
        <input type="text" ng-if="record.location === ''" name="location" id="location" ng-model="record.location"
               placeholder="* Location" disabled="true" required>
        <button class="button icon-left ion-location" modal-select ng-model="record.location" options="locations"
                 hide-reset="true" modal-title="Select Location">
          <div class="option">
            {{option}}
          </div>
        </button>
      </div>

      <div class="item item-button-right"
           ng-class="{ 'has-error' : sisoForm.time.$invalid && !sisoForm.time.$pristine }">

        <span class="input-label" ng-if="record.time !== ''">Time</span>
        <input type="text" name="time" id="time" ng-model="record.time" placeholder="* Time" disabled="true" required>
        <button class="button icon-left ion-ios-time" modal-select ng-model="record.time" options="myTimes"
                 hide-reset="true" modal-title="Select Time" option-property="hour">
          <div class="option">
            {{option.hour}}
          </div>
        </button>
        <p ng-show="sisoForm.time.$error.required && !sisoForm.time.$pristine" class="help-block">Sign In Time is
          required.</p>
        <p ng-show="sisoForm.time.$error.pattern && !sisoForm.time.$pristine" class="help-block">Enter a valid 12 hour
          Time. Ex: 01:00 PM.</p>

      </div>

      <button class="button button-block button-positive" ng-disabled="!sisoForm.$valid" ng-show="!showCheckoutBtn()"
              ng-click="save()">
        Sign In
      </button>
    </div>
    <div class="form-group" ng-if="showCheckoutBtn()">
      <div class="item item-divider text-center">
        <br>
        <span class="user-title">{{record.fname}} {{record.mname}} {{record.lname}}</span>
        <br>
        <br>
        <div class="item item-text-wrap">

          <span class="label-blue">Location:</span> {{record.location}}
        </div>
        <!-- <span class="input-label" ng-if="record.location !== ''">Location</span>
        <span ng-if="record.location !== ''">{{record.location}}</span> -->
      </div>
      <br>
      <button class="button button-block button-positive" ng-show="showCheckoutBtn()" ng-click="delete()">
        Sign Out
      </button>
    </div>
    </form>
  </ion-content>
</ion-view>
