<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Entries Tab -->
  <ion-tab
    title="SISO"
    icon-off="ion-location"
    icon-on="ion-android-checkbox-outline"
    href="#/tab/checkInCheckOut">
    <ion-nav-view name="tab-checkInCheckOut"></ion-nav-view>
  </ion-tab>

  <!-- Login -->
  <ion-tab
    title="Login"
    icon-off="ion-android-person"
    icon-on="ion-person"
    href="#/login">
    <ion-nav-view name="tab-userInfo"></ion-nav-view>
  </ion-tab>
  

</ion-tabs>
