<ion-view view-title="User Info" id="page4">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="pin">
                <span class="input-label">PIN</span>
                <input type="text" placeholder="" ng-model="userInfo.pin" ng-disabled="true">

            </label>
            <label class="item item-input" name="pin">
                <span class="input-label">Name</span>
                <input type="text" placeholder="" ng-model="userInfo.name" ng-disabled="true">
            </label>
            <label class="item item-input" name="pin">
                <span class="input-label">Manager</span>
                <input type="text" placeholder="" ng-model="userInfo.manager" ng-disabled="true">
            </label>
            <label class="item item-input" name="pin">
                <span class="input-label">Mobile or contact</span>
                <input type="text" placeholder="" ng-model="userInfo.contact" ng-disabled="true">
            </label>
        </form>

    </ion-content>
</ion-view>
