<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{dialog.title}}</h1>
<!--     <button class="button button-clear button-primary" ng-click="userDialog.hide()">Cancel</button> -->
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input ng-model="user.fname" type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input ng-model="user.lname" type="text">
      </label>
      <button
        class="button button-full button-positive"
        ng-click="searchUser(user)">{{dialog.buttonLabel}}</button>

<!--         <button
          class="button button-full button-positive"
          ng-click="goNext('#/tabs/register')">
          Not registered yet? Click here to register.
        </button> -->
    </div>
  </ion-content>
</ion-modal-view>
